@use "src/scss/variables" as v;

.informationRow {
    color: v.$accentColor2;
    text-align: start;
    padding-left: v.$padder;

    p {
        margin-bottom: 0px;
    }
}

.progressBarRow {
    margin-top: auto;
    padding-bottom: v.$padder;
}

.skillWrapper {
    width: 360px;
    height: 280px;
    background-color: v.$secondaryColor;
    padding-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.technologyRow {
    display: flex;
    justify-content: center;
    padding-top: calc(2 * v.$padder);
}