@use "src/scss/variables" as v;

.logo {
    font-size: 26px;
    font-weight: 500;
}

.navbar {
    background-color: v.$primaryColor;
}

.navbar-brand {
    color: v.$accentColor3;
}

.nav-link {
    color: v.$accentColor;
    font-family: lato;
    font-size: 24px;
    border-radius: 5px;
}

.nav-link:hover {
    scale: 1.1;
}

.navbar-toggler {
    background-color: v.$secondaryColor;
}

.navbar-toggler:hover {
    background-color: v.$accentColor;
}