<app-section-header title="Home" id="HomeSection"></app-section-header>
<section class="container-fluid">
    <div class="row">
        <div class="col-md-4 photoSection">
            <span class="photoInner">
                <img src="../../../assets/images/photoProfile.jpg" href="My profile photo" class="photoImg">
            </span>
        </div>
        <div class="col-md-8 container">
            <div class="identityRow">
                <div class="identityWrapper">
                    <div class="staticText">Hi, I am </div>
                    <ul class="dynamicTexts">
                        <li><span>Dimos Theocharis</span></li>
                        <li><span>Software Engineer</span></li>
                    </ul>
                </div>
            </div>

            <div class="row informationRow">
                <div class="col-md-6 container aboutSection">
                    <div class="row titleRow">
                        <div class="col-md">
                            <h3>ABOUT</h3>
                        </div>
                    </div>
                    <div class="row contentRow">
                        <div class="col-md contentColumn">
                            <p class="aboutText">
                                "I've recently started my journey as a software engineer and have been experimented
                                with projects involving web technologies and built games using python. I consider 
                                myself as a person who loves to find solution to problems and learn new things."
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row titleRow">
                        <div class="col-md">
                            <h3>BASIC INFORMATION</h3>
                        </div>
                    </div>
                    <div class="row contentRow">
                        <div class="col-md contentColumn container">
                            <div *ngFor="let info of basicInfo" class="row infoRow">
                                <div class="col-md-6 label">
                                    <p>{{info.label}}</p>
                                </div>
                                <div class="col-md-6 value">
                                    <p>{{info.value}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row linksRow">
                <div class="linksInnerRow">
                    <div *ngFor="let link of links" class="col-3 linkColumn">
                        <div class="link">
                            <a class="btn btn-default btn-round btn-lg btn-icon"
                               [href]="link.href"
                               target="_blank"
                               rel="tooltip"
                               [title]="link.message"
                            >
                                <i [class]="link.icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
