@use "src/scss/variables" as v;

.aboutText {
    font-style: italic;
    font-family: roboto;
}

.container-fluid {
    min-height: 400px;
    background-color: v.$primaryColor;
    padding: 30px;
    padding-top: 0px;
}

.container-fluid>.row {
    height: 100%;
}

.contentColumn {
    height: 90%;
    padding: 10px;
}

.infoRow {
    padding: 5px 0px 0px 20px;
}

.infoRow>.label,
.infoRow>.value {
    padding: 5px 0px;
}

.infoRow>.label>p {
    font-weight: bold;
    margin: 0px;
    color: v.$accentColor2;
}

.infoRow>.value>p {
    margin: 0px;
}

.interestRow {
    color: v.$accentColor2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    i {
        color: v.$accentColor3;
        font-size: 24px;
    }
}

.interestsList {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: v.$padder;
}

.linkColumn {
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linksRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px;
    row-gap: v.$padder;
}

p {
    color: v.$accentColor2;
}

.photoSection {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 0px;
    padding-bottom: 0px;

    .photoImg {
        width: 80%;
        border-radius: 15px;
    }
}

.tabsContentRow p {
    font-size: 18px;
}

.tabsRow {
    .tabList {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: calc(v.$padder * 2);
    }

    .tabList li {
        position: relative;
        cursor: pointer;
        padding-bottom: v.$padder;

        p {
            color: v.$accentColor;
            font-size: 22px;
            margin: 0px;
        }
    }

    .tabList li:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        width: 0%;
        background: v.$accentColor;
        transition: all 1s ease-out;
    }

    .tabList li:hover:after {
        width: 100%;
    }

    .tabList li.selected:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        width: 100%;
        background: v.$accentColor;
    }
}

.titleRow {
    height: 20%;
    text-align: center;
}

.titleRow h3 {
    color: v.$accentColor3;
    font-family: roboto;
}


@media screen and (max-width: 600px) {
    .linksRow {
        justify-content: space-between;
    }
}

@media screen and (max-width: 991px) {
    .linksRow {
        justify-content: space-between;
    }

    .tabsRow {
        margin-top: 20px;
    }
}