@use "src/scss/variables" as v;

.explanatoryText {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;

    p {
        color: v.$accentColor2;
    }
}

.wrapper {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
}