@use "src/scss/variables" as v;

* {
    transition: all 0.3s;
}

body {
    background-color: v.$primaryColor;
}

@font-face {
    font-family: roboto;
    src: url("/src/assets/fonts/Roboto-Regular.ttf");
}

.roboto {
    font-family: roboto;
}

.link {
    max-height: 50px;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: v.$secondaryColor;

    .fa {
        color: v.$accentColor;
    }
}

.link:hover {
    background-color: v.$accentColor;

    .fa {
        color: v.$secondaryColor;
    }
}

.rowSpacer {
    margin-top: 20px;
}