@use "src/scss/variables" as v;

* {
    transition: all 0.3s;
    font-family: lato;
}

body {
    background-color: v.$primaryColor;
}

p {
    font-size: 18px;
}

@font-face {
    font-family: roboto;
    src: url("assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: lato;
    src: url("assets/fonts/Lato-Regular.ttf");
}

.italics {
    font-style: italic;
}

.link {
    max-height: 50px;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: v.$secondaryColor;

    .fa {
        color: v.$accentColor;
    }
}

.link:hover {
    background-color: v.$accentColor;

    .fa {
        color: v.$secondaryColor;
    }
}

.roboto {
    font-family: roboto;
}

.rowSpacer {
    margin-top: 20px;
}

.section {
    min-height: 100vh;
    width: 80%;
    margin: auto;
}