/* You can add global styles to this file, and also import other style files */

* {
    transition: all 0.3s;
}

$primaryColor: rgb(0,0,0);
$secondaryColor: rgb(46, 54, 74);
$accentColor: rgb(170, 40, 250);
$accentColor2: rgb(236, 236, 236);
$accentColor3: rgb(250, 170, 40);

body {
    background-color: $primaryColor;
}

@font-face {
    font-family: roboto;
    src: url("/src/assets/fonts/Roboto-Regular.ttf");
}

.roboto {
    font-family: roboto;
}